
:root {
    --primary-color:#a8e000;
    --primary-color2:#b9e633;
    --primary-color3:#caec66;
    --semi-light:#96c703;
    --colorlight:#dcf399;
    --colorligher:#edf9cc;
    --colordark:#5e7e00;
    --colordarker:#7fa804;
    --colorwhite:#fcfff2;



}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    /*outline: 1px solid;*/
}

html {
    font-size: clamp(13px, calc((3 / 70) * 100vw - (170 / 70) * 1px), 16px);
}

/* Landing Page */

body {
    background-color: var(--colorlight);
    box-sizing: border-box;
}

.svgTarget {
    width:40vw;
    height: calc(40vw * (77.75/207.75));

}

.landingPageHeader {
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;

    background: rgba(240, 250, 212, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;

}

.pageTitle {
    display: flex;
}

.actions {
    display: flex;
    justify-content:space-between;
    gap:15px;
    flex-direction: row;
    right:30px;
}

.center {
    display: flex;
    align-items: center;
    gap: 8px;
}

a {
    text-decoration: none;
}

.loginn {
    
    padding: 2px 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    background-color: rgba(240, 250, 212, 0.8) ;
    box-shadow: 4px -4px 5px var(--colorlighter);
    color: var(--colordark);
    cursor: pointer;
}

.loginn:hover {
    color: var(--colordarker);
}

.signupp {
  
    padding: 2px 2px;
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    background-color: rgba(240, 250, 212, 0.8) ;
    box-shadow: 4px -4px 5px var(--colorlighter);
    color: var(--colordark);
    cursor: pointer;
}

.signupp:hover {
    color: var(--colordarker);
}

.pageContainer {
    background:
    linear-gradient(
      200.96deg,
      rgba(240, 250, 212, 1) 11.61%,
      rgba(220, 243, 153, 1) 77.58%
    );
    box-sizing: border-box;

    position: relative;
    box-sizing: border-box;
    width: 100%;
    display:flex;
    padding-top: 20px;
}

.heroSection {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}

.heroContainer {
    text-shadow: #edf9cc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: column;

    position: relative;
    padding: 0px 15px;
    width: 100%;
    max-width: 600px;
    height: 380px;
    border-radius: 2px;

}

.headline {
    width: 100%;
    max-width: 500px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem; 
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;

    color: #000000;
}

.subHeadline {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    text-align: justify;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 130%;
    /* or 42px */
    text-align: center;

    color: #000000;
}

.ctabtn {
    
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100% ;       
    max-width: 330px;
    height: 52.5px;
    margin-top: 5px;            
    border-radius: 8px;  
    cursor: pointer;
    background-color: var(--colordark);
    transition: background-color 0.5s linear;
}

.ctabtn:hover {
    background-color: var(--colordarker);

}

.ctatxt {
   
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;        
    color: #FFFFFF;
}

.imgConn {
    display:flex;
    position: relative;
    padding: 8px;
    max-width: 800px;
    width: 350px;
    align-self: center;
}

.imageSize {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 8px 15px rgba(0,0,0,0.2))
            drop-shadow(0 3px 6px rgba(0,0,0,0.1));
}

.gradient {
    position: relative;
    width: 100%;
    min-height: 100%;

    background:url("/src/doodle.png"),
    linear-gradient(200.96deg, #f0fad4 11.61%, #DCF399 77.58%);
    background-repeat: repeat;
    background-size: 400px;
    background-position: center;
   


}

.grad {
    position: relative;
    width: 100%;
    min-height: 100%;

    background:url("/src/doodle.png"),
    linear-gradient(200.96deg, #f3f8e4 11.61%, #f3fcd9 77.58%);
    background-repeat: repeat;
    background-size: 400px;
    background-position: center;
   


}

/*Login Page*/

.bottomline {
    background: rgba(240, 250, 212, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.logboxCon {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.loginBox {

    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 30px;
    padding:30px 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    /*box-shadow: 0px 0px 20px grey; */

    
    width: 90%;
    max-width: 600px;
    height: 100%;

    background: #FCFFF2;
    border-radius: 30px;
}

.welcome {
    font-size: 1.3rem;
    /* margin-bottom: 10px; */
    
}

p {
    margin: 8px 5px ;
}

input {
    border: 2px solid grey;
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 8px;
}

input[type='submit'] {
    display: flex;
    align-self: center;

}

.submitbtn {
    
    display: flex;
    justify-content: center;
    align-items: center; 

    color:#edf9cc ;
    font-family: 'Inter', sans-serif;
    font-weight: 700; 
     
    width: 100% ;    
    height: 52.5px;
    margin-top: 25px;            
    border-radius: 8px;  
    cursor: pointer;
    background-color: var(--colordark);
    transition: background-color 0.5s linear;
}

.submitbtn:hover {
    background-color: var(--colordarker);

}

label {
    display: block;
    margin:8px 5px;
}

.username-container {
    position: relative ;
}
.username-unavailable:focus {
    background-color: rgb(255, 201, 201);

}

.username-available:focus {
    background-color: rgb(183, 238, 183);
}


.alert {
    position: relative;
    font-size: small;
    display: none ;
    margin-left : 10px ;
}

.alerttxt {
    position: absolute;
    top: 4px;
    left:23px;
}

.email:focus + .alert {
    display: block;
}

.username:focus + .alert {
    display: block;
}

.passCon {
    position: relative;
    box-sizing: border-box;

}

.togglePass {
    position: absolute;
    top:15px;
    right: 10px;
    cursor: pointer;

}

.eye:hover {
    fill: rgb(51, 50, 50) ;
}

.passCheck {
    position: relative ;
}

.pass-alert {
    position: relative;
    font-size: small;
    margin-left : 10px ;
}

.wrong {
    background-color: rgb(255, 201, 201);

}

.okay {
    background-color: rgb(183, 238, 183);
}

.clicky {
    color: var(--colordarker) 
}

.clicky:hover {
    color: var(--colordark) ;
}

/* NoteBook Page */



.noteHeader {
    
    background-color: var(--primary-color2) ;
    padding: 12px;
    padding-left: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 10px grey;
    z-index: 2;
    
    
    

    
} 
.header {
    font-size: 2.5em;
    font-weight:bold;

}

.headTitle {
position: absolute;
width: 219px;
height: 103px;
left: calc(50% - 219px/2 + 0.5px);
top: 93px;

font-family: 'Inknut Antiqua';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 103px;

color: #000000;


}

.spanContainer {
    display: flex;
    width: 85px;
    justify-content: space-between;
   
}

.addNote { 
    width: 35px;
    height: 35px;
    display:flex ;
    align-items: center;
    justify-content: center;

}

.select { 
    width: 35px;
    height: 35px;
    display:flex ;
    align-items: center;
    justify-content: center;

}

.spanCon {
    border: 2px solid var(--colorligher);
    border-radius: 20%;
    background-color: var(--colordark);
    cursor: pointer;
}

.spanCon:hover {
    background-color: var(--colordarker);
}

.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

li {
    position: relative ;
    width: 90%;
    max-width: 400px;
    background-color: var(--colorligher);
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    max-height: 300px;
    transition: height 1s linear ;


}

li:hover {
    box-shadow: 0px 0px 10px var(--primary-color);
    
}

.bold {
    font-weight: bold;
    color: var(--colordarker);
    width: 100%;
    margin-bottom: 5px;
    width: 77%;


}

.content {
    font-size: 1rem;
    line-height: 22px;
}

.textContainer {
    width: 100%;
    display: flex;
    justify-content: center;margin-top: 15px;
}

input[type="text"].title {
    outline: none; 
    padding: 5px;
    padding-top: 8px;
    border: 0px;  
    height: auto;
  }
  
  input[type="text"].title:focus {
    background-color: var(--colorligher); 
    box-shadow: 0 0 1px var(--primary-color);
  } 

.textinput {
    position: relative;
    background-color: var(--colorwhite);
    width: 80%;
    max-height:200px ;
    outline: none;
    border-radius: 13px;
    padding: 10px;
    padding-bottom: 8px;
}

.title {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--colordark);
    margin: 0px;
    padding-left: 5px;
    padding-top: 2px;
    border-radius: 10px 10px 0px 0px;

}

textarea {
    width: 100%;
    height: 100px;
    padding-left: 5px;
    padding-top: 2px;
    box-sizing: border-box;
    border: 0px;
    outline: none;
    resize: none;
    margin: 0px;
    margin-top: 5px;
    border-radius:0px 0px 10px 10px;
}

textarea:focus {
    background-color: var(--colorligher); 
    box-shadow: 0 0 1px var(--primary-color);
}

.textinput:hover {
    box-shadow: 0px 0px 10px var(--primary-color);
}

.saveCon {
    display: flex;
    justify-content: right;

}

.save {
    position: absolute;
    box-sizing: border-box;
    bottom: 13px;
    right: 10px;
    background-color: var(--semi-light);
    color: var(--colorligher);
    padding: 5px 8px;
    margin-right: 0px;
    border-radius: 10px;
    margin-bottom:0px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;

}

.save:hover {
    background-color: var(--colordarker);
}

.dateCon {
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: auto;
}

.date {
    color: grey;
    font-size: small;
    margin-top: 3px;
}

.spinner {
    animation: spin 2s linear infinite;
}

@keyframes spin {
      from {
        transform: rotate(0deg);
      }   
      to {
        transform: rotate(360deg);
      } 
}

.roller {
    margin-top: 50px;
}

.titleCon {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    

}

.contentCon {
    margin-top:5px;
    margin-bottom: 20px;
}

.float { 
    position: absolute;
    display: flex;
    top: -5px;
    right: -5px;
    height: 32px;
    box-sizing: border-box;
}

.floatbutton {
    width: 32px;
    height: 32px;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid var(--semi-light);
    background-color: #edf9cc;
    border-radius: 8px;
    box-shadow: 0px 0px 1px grey;
    justify-content: center;
    padding-top: 1px;
    opacity: 0;
    transition: opacity 0.5s, background-color 0.5s;

}

.floatbutton:hover{
    box-sizing: border-box;
    background-color: #dcf399;
    
}

.floatbuttonDark {
    width: 32px;
    height: 32px;
    margin-left: 6px;
    box-sizing: border-box;
    border: 2px solid var(--semi-light);
    background-color: var(--semi-light);
    border-radius: 8px;
    box-shadow: 0px 0px 1px grey;
    justify-content: center;
    padding-top: 1px;
    opacity: 0;
    transition: opacity 0.5s, background-color 0.5s;

}

.floatbuttonDark:hover{
    box-sizing: border-box;
    background-color: var(--colordarker);
    
}

.edit {
    position: absolute;
    display: flex;
    top: -5px;
    right: 32px;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 2px solid var(--colordark);
    background-color: #edf9cc;
    border-radius: 8px;
    box-shadow: 0px 0px 1px grey;
    justify-content: center;
    padding-top: 1px;
    opacity: 1;
    transition: opacity 0.5s, background-color 0.5s;

}

.edit :hover{
    background-color: #dcf399;
    
}

li:hover .floatbutton{
    opacity: 1;
}

li:hover .floatbuttonDark{
    opacity: 1;
}

li:hover .edit{
    opacity: 1;
}

.loadCon {
    position:relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.load {
    position:absolute;
    top: 130px;
    
    
}

.date {
    position:absolute;
    display:inline-block;
    white-space:nowrap;
    bottom: 5px;
    right: 10px;
    box-sizing: border-box;
    justify-content: right;
}

a {
    cursor: pointer;

}

.reload {
    margin-top: 40px;
}

.alrtCon {
    position: fixed;
    left:50%;
    bottom:40px;
    display: flex;
    justify-content: center;
    z-index: 2;
    transform: translate(-50%);
}

.alrt {
    box-sizing: border-box;
    padding: 8px 10px;
    background-color: rgb(247, 76, 76);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: small;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 0.9;
}

.fade-out {
    opacity: 0;
}

@media (min-width: 600px) {

    /*Landin Page*/

    .landingPageHeader {
        padding: 30px;
    }

    .svgTarget {
        height:207.75px ;
        width: 77.75px;

    }

    .actions { 
        gap: 30px;
    }

    .loginn {
        font-size: 1.1rem;
    }

    .signupp {
        font-size: 1.1rem;
    }

    .heroSection {
        padding: 30px;
        flex-direction: row ;
        justify-content: space-evenly;
        
    }

    .heroContainer {
        gap: 20px;
        padding: 0px 15px;
        width: 100%;
        max-width: 600px;
        height: 500px;
        border-radius: 2px;

    }

    .headline {
        font-size: 3.2rem; 
    }

    .subHeadline {
        font-size: 1.6rem;
    }

    .imgConn {
        width: 550px;
    }

    /*Login Page*/
    
    .loginBox { 
        padding: 60px 50px;

    }
}